<?xml version="1.0"?>
<launch>

     <!--- Run pubPoseWithCovariance node from sensing_and_perception package-->
     <!-- Put args="1" if you are testing the robot with the id number 1 -->
     <node name="publishPoseWithCovariance" pkg="sensing_and_perception" type="pubPoseWithCovariance" output="screen" args="0"> 
        <param name="amcl_topic" value="/robot/amcl_pose" />
        <param name="map_frame" value="map" />
        <param name="base_frame" value="robot_base_link" />
    </node>

     <!--- Run mapup node from mapupdates package-->
     <!-- Put args="1" if you are testing the robot with the id number 1 -->
    <node name="mapup" pkg="mapupdates" type="mapup" output="screen" args="0" >
        <param name="cell_size" type="double" value="2.7" />
        <param name="laser_inverted" type="bool" value="1" />
        <param name="scan_topic" value="/robot/front_laser/scan" />
        <param name="map_frame" value="map" />
        <param name="map_service_name" value="/robot/static_map" />
    </node>

    <!-- Run FIROS -->
    <node name="firos" pkg="firos" type="core.py" />

<!--
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lam_simulator)/rviz_cfg/singlerobot.rviz" /> 
-->


</launch>

